body {
    background-color: darkgray;
}

p {
    margin: 0px 0px 0px 4px;
}

hr {
    border-width: 3px;
}

button:hover {
    border: solid 3px rgb(36, 248, 248);
}

table {
    max-width: 600px;
    min-width: 500px;
    margin-bottom: 10px;
    border: solid 4px black;
}

.section {
    border: solid 4px black;
    border-radius: 20px;
    padding: 10px;
    font-size: 23px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(219, 219, 219);
    color: black;
    margin-bottom: 40px;
}

.back-to-top {
    position: fixed;
    top: auto;
    left: auto;
    right: 15px;
    bottom: 15px;
    font-size: 32px;
    opacity: 0.8;
    z-index: 9999;
    cursor: pointer;
    color: rgb(57, 87, 255);
    border: solid 4px rgb(235, 235, 235);
    border-radius: 50%;
}

.back-to-top:hover {
    opacity: 1;
    font-size: 40px;
    color: rgb(102, 199, 255);
    border: solid 4px rgb(36, 248, 248);
}

.btn-group-vertical {
    position: fixed;
    right:10px;
    top: 10px;
    border: solid 4px rgb(0, 151, 25);
    border-radius: 5px;
    padding: 0;
}
